@font-face {
  font-family: "Tilt Neon";
  src: url("/font/TiltNeon-Regular.ttf");
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(23, 25, 35, 0.565);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(45, 55, 72);
  backdrop-filter: blur(10px);
}

.header-container__no-border {
  border-bottom: none;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  width: 100%;
  padding: 20px 20px;
}

.name {
  font-weight: 400;
  font-size: 22px;
  letter-spacing: -0rem;
  color: var(--main-primary-color);
  display: flex;
  align-items: center;
  font-family: "Tilt Neon";
}
