.footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.footer--name {
  text-decoration: none;
  flex-shrink: 0;
  font-weight: 600;
  color: var(--footer-color);
  letter-spacing: 0.05em;
}

.social-media {
  display: flex;
}

.social-media--item {
  box-shadow: none;
  margin-left: 1.1rem;
  color: var(--footer-color);
}

.social-media--item:hover {
  color: #3182ce;
}
