.photo {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.photo-container {
  width: 320px;
  height: 400px;
  flex-shrink: 0;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 780px;
}

@media screen and (min-width: 600px) {
  .profile {
    flex-direction: row;
  }
}

.profile--description {
  font-size: 28px;
  margin-left: 30px;
  line-height: 2.7rem;
  font-weight: 700;
  color: var(--main-secondary-color);
}

.profile--description--hero {
  color: var(--main-primary-color);
}
