.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 40px);
  margin: 0 auto;
  padding-bottom: var(--space-2xl);
}

.main {
  margin-top: var(--space-5xl);
  padding-bottom: var(--space-4xl);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 700px;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1000px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
